Module1/peakItMvcWithAuth/obj
Module1/peakItMvcWithAuth/bin
Module1/PeakItConsole/obj
Module1/PeakItConsole/bin
Module1/PeakItMvc/obj/
Module1/PeakItMvc/bin/
Module2/PeakItMiddleware/obj
Module2/PeakItMiddleware/bin
Module2/PeakItMiddleware/.vs
Module2/PeakItConfiguration/obj/
Module2/PeakItConfiguration/bin/
Module2/PeakItConfiguration/.vs/
Module2/PeakItDi/.vs/
Module2/PeakItDi/bin/
Module2/PeakItDi/obj/
Module3/PeakItMvcApp/Event.db
Module3/PeakItMvcApp/.vs
